<h2>Hola {{ message.name | upper}}!</h2>

<p>Tu solicitud de información sobre el nuevo <strong>Opel {{ message.vehicle.name  }}</strong> ha sido procesada.</p>

<br>

<p>En breve nuestro equipo comercial se pondrá en contacto contigo.</p>

<br>

<p>Gracias</p>
